In [1]:
# Import dependency
import pandas as pd

In [2]:
# Read into city weather data csv
city_weather_data_df = pd.read_csv("Resources/city_weather_data.csv")
city_weather_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,georgetown,5.41,100.34,26.0,83.0,20.0,3.1,MY,1.601638e+09
1,arraial do cabo,-22.97,-42.03,26.0,78.0,23.0,5.7,BR,1.601638e+09
2,meiganga,6.52,14.30,27.3,64.0,93.0,2.6,CM,1.601639e+09
3,saint-philippe,-21.36,55.77,25.0,69.0,90.0,3.6,RE,1.601638e+09
4,ribeira grande,38.52,-28.70,21.0,73.0,75.0,3.6,PT,1.601638e+09

In [3]:
# Convert cities weather data to html
city_weather_data_df.to_html("city_weather_data.html")